.main-div {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: pink;
  min-height: 100vh;
}
.div1 {
  width: 50%;
}
.div2 {
  width: 50%;
}
h1 {
  font-size: 50px;
  font-weight: 500;
}
